.Header1{
    margin:0;
    top:0;
    height:40px;
    width:100%;
    background-color: rgb(36, 236, 143);
    display: flex;
    align-items: center;
    color:rgb(29, 29, 29);
    position: relative;
}
.Header-Top{
    display:inline;
    margin-top:3px;
    padding: 2px;
    margin-left:600px;

}
.Header-Top svg{
    font-size: 40px;
}
.Connect{
    margin-left:20px;
    padding:20px;
    font-weight: 500;
}
.Connect svg{
    font-size:20px;
    margin-right: 5px;
    margin-bottom: -5px;
}

button{
    height:35px;
    padding:px;
    margin:2px;
    position: relative;
    cursor: pointer;
    border: 1px solid rgb(247, 240, 240);
    z-index:9999;
  }
button.active{
    background-color:rgb(17, 17, 17);
    color:rgb(235, 229, 229);
}
.Connect1 svg{
    font-size:40px;
}

.Header2 {
    position:relative;
    top:0;
    margin-top: 40px;
    height:40px;
    width:100%;
    z-index:1000;
    background-color:white;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    color:rgb(29, 29, 29);
    overflow: hidden;
      }
.hide{
    visibility: hidden;
    height:40px;
      }
.Header2 ul li {
    list-style-type: none;
    display:inline-flex;
    justify-content: flex-end;
    margin: 40px;
    font-weight:500;
}
.active-link{
    color: rgb(5, 153, 84);
}

.footer{
    margin:0%;
    height:150px;
    width: 100vw;
    background-color: rgb(152, 240, 152);
    padding:5px;
    font-weight: 500;
    display: flex;
    justify-content:space-evenly;
    position: relative;
}
.text{
    margin-left: -200px;
}

.footer-logo img{
    height:auto;
    width:300px;
    margin-left:-250px; 
}
.Footer2{
    text-align:center;
    font-weight:500;
    height: 30px;
    width:100%;
    background-color: rgb(240, 225, 225);
    padding:5px;
}
.Content2 li{
    list-style-type:none;
}
.Content3{
    padding:5px;
    margin:5px;
    line-height:1.5em;
}
.Icons{
    display: flex;
    padding:0px;;
    margin:5px;
}
.Icons svg{
    font-size: 30px;
}
.Quicklinks{
    display: block;
    padding:0;
    margin:auto;
}
